[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
telepot = "*"
"oauth2client" = "*"
alembic = "*"
dropbox = "*"
Sanic = "*"
SQLAlchemy = "*"
aiopg = "*"

[dev-packages]
"flake8" = "*"
"pytest" = "*"

[requires]
python_version = "3.6"
