[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
pyTelegramBotAPI = "*"
"oauth2client" = "*"
alembic = "*"
dropbox = "*"
Sanic = "*"
SQLAlchemy = "*"
aiopg = "*"
"psycopg2" = "*"
setuptools = "*"
aiohttp = "*"

[dev-packages]
"flake8" = "*"
"pytest" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
